<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food_store_searching_webpage.config.mybatis.mapper.SightIntroMapper">

	<sql id="all-column">
        intro
	</sql>
 
 	<resultMap type="sightIntro" id="sightIntro-resultmap">
 		<id column="intro" property="intro"/>
 	</resultMap>
 	
 	<select id="selectSightIntro" resultMap="sightIntro-resultmap">
		SELECT <include refid="all-column"/> 
		FROM sight_intro
	</select>
	
	<insert id="insertSightIntro" parameterType="string">
		INSERT INTO sight_intro VALUES(#{value})
	</insert>
	
	<delete id="deleteSightIntro">
		DELETE FROM sight_intro
	</delete>
	
	<update id="updateSightIntro" parameterType="sightIntro">
		UPDATE sight_intro
		SET intro = #{intro}
	</update>
 	
</mapper>